/* Reset & Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    min-height: 100vh;
}

/* Container */
.signup-container {
    max-width: 900px;
    width: 100%;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

/* Form Section */
.form-section {
    width: 100%;
}

.form-content {
    display: flex;
    width: 100%;
}

/* Left Side - Form */
.form-left {
    width: 50%;
    padding-right: 20px;
    padding-left: 20px;
}

h2 {
    color: #5c2d91;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

p {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

p a {
    color: #5c2d91;
    font-weight: bold;
    text-decoration: none;
}

/* Input Fields */
form input[type="text"],
form input[type="email"],
form input[type="date"],
form input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    background: #f2ebff;
    font-size: 14px;
}

.name-fields {
    display: flex;
    gap: 10px;
}

.name-fields input {
    flex: 1;
}

/* Terms Checkbox */
.terms {
    display: flex;
    align-items: center;
    font-size: 13px;
    margin: 12px 0;
}

.terms input {
    margin-right: 8px;
}

.terms a {
    text-decoration: underline;
    color: #5c2d91;
}

/* Create Button */
.create-account {
    width: 100%;
    background: #9c5eff;
    color: #fff;
    padding: 14px;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;

}

/* Divider */
.or-divider {
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
}

/* Google Button */
.google-signin {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.google-signin img {
    width: 24px;
    height: 24px;
}

/* Right Side - Image */
.form-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-right img {
    width: 180px;
    max-width: 100%;
}
