.navbar{
    background-color: white;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    font-family: Poppins, Helvetica, sans-serif;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 900;
}
.nav-links{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-links li {
    margin: 0 10px;
}
.nav-links a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    transition: background 0.3s;
    font-weight:normal;
    margin-right: 20px;
}
.nav-links a:hover {
    background-color:#9A60E9;
    border-radius: 5px;
}
.navbar img{
    width: 65px;
    height: 60px;
}